<h1>Brewers Branch</h1>

<%= link_to 'Add your Brewery Now!', new_brewer_path %>
<br>
<% @brewers.each do |brewers| %>

<div>
	<%= brewers.brewery %>
</div>

<%= link_to 'Edit Brewery', edit_brewer_path(brewer) %>


<% end %>