<div class="basic horizontal segment">
<h1 class="header"><%= @style.name %></h1>

<ul>
    <% @style.beers.each do |beer| %>
      <li>
        <%= link_to beer.name, beer_path(beer) %>
      </li>
    <% end %>
  </ul>
</div>