<body>
<div class="ui page grid"> 
  <% @beers.each do |beer| %> 
  <div class="four wide column">
        <div class="ui card">
          <div class="image">
            <%= image_tag(beer.image_url, :alt => "beer.name") %>
          </div>
          <div class="content">
            <div class="meta"><i><%= beer.name %></i></div>
            <%= link_to beer.name, beer_path(beer), :target => "_blank" %>
          </div>
          <div class="extra content">
            <div class="ui green header">$20</div>
            +Free shipping
          </div>
        </div>
        <!-- Cards End Here -->
    </div>
    <% end %>
  </div>
  <!-- four wide column ends here -->
</div>
<!-- ui page grid ends here -->
</body>