<!DOCTYPE html>
<html>
<head>
  <title>BrewHopper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    $('.event.beers .image')
      .dimmer({
        on: 'hover'
      });
  </script>
</head>
<body>

<body>
<!-- Beginning of Nav Bar -->
<div class="ui inverted menu">
  <a class="header item" href="#">Brew Hopper</a>

  <!-- Begin Dropdown Menu -->
  <div class="ui dropdown item">
    Deals
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item" href="#">Local</a>
      <a class="item" href="#">Online</a>
    </div>
  </div>
  <!-- End of Dropdown Menu -->

  <a class="item" href="#">Coupons</a>
  <a class="item" href="#">Browse</a>
  <a class="item" href="#">Forums</a>
  <div class="item">
    <div class="ui icon input">
      <input type="search" placeholder="Search deals..."/>
      <i class="search icon"></i>
    </div>
  </div>
</div>
<!-- End of Nav Bar -->
<script>
  $(function(){
    $('.dropdown').dropdown({transition: 'drop'});
  });
</script>

</body>
<%= yield %>
</html>
